@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --grad: linear-gradient(90deg, #f87516 0%, #5e11ff 100%);
  --color-1: #5e11ff;
  --color-2: #f87516;
}

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid #150b1a;
  background-color: #f87516;
  border-radius: 100px;
}

html {
  background-color: #150b1a;
  color: #fafafa;
  overflow-x: hidden;
}

.back-clip {
  background: var(--grad);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
